In [11]:
logfile = '../log_bert.csv'
logfile = '../logs_resnet50.csv'

In [13]:
import pandas as pd
import ast

# Read the file line by line and convert each line to a list using ast.literal_eval
data = []
with open(logfile, 'r') as file:
    for line in file:
        data.append(ast.literal_eval(line))

# Create a DataFrame from the list of lists with custom column names
df = pd.DataFrame(data, columns=['prediction', 'timestamp', 'prepro_time', 'predict_time', 'total_time'])

# Drop the 'prediction' column
df.drop('prediction', axis=1, inplace=True)

# Convert 'timestamp' column to datetime and extract the minute value
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['minute'] = df['timestamp'].dt.minute

# Print the DataFrame
df.head(5)

                   timestamp  prepro_time  predict_time  total_time  minute
0 2023-07-28 17:04:58.562334     0.018404      0.085897    0.104301       4
1 2023-07-28 17:05:00.613136     0.004364      0.062470    0.066834       5
2 2023-07-28 17:05:02.666163     0.004401      0.064098    0.068499       5
3 2023-07-28 17:05:04.743652     0.004423      0.063221    0.067644       5
4 2023-07-28 17:05:06.887617     0.004217      0.063577    0.067794       5

In [15]:
percentiles = [0.99, 0.9, 0.5]
response_times = df['total_time'].quantile(percentiles)