In [1]:
#!wget https://azurecloudpublicdataset2.blob.core.windows.net/azurepublicdatasetv2/azurefunctions_dataset2019/azurefunctions-dataset2019.tar.xz

In [8]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('tweet_load.csv')

In [5]:
data

               time  tweets
0       01-01-00-00  2964.0
1       01-01-00-01  2593.0
2       01-01-00-02  2653.0
3       01-01-00-03  2650.0
4       01-01-00-04  2638.0
...             ...     ...
239928  06-30-23-55  2671.0
239929  06-30-23-56  2562.0
239930  06-30-23-57  2405.0
239931  06-30-23-58  2455.0
239932  06-30-23-59  2628.0

[239933 rows x 2 columns]

In [6]:
data = data.drop(columns=['HashOwner', 'HashApp', 'HashFunction', 'Trigger'])
#data

In [7]:
f1data = data.iloc[0].tolist()
#f1data

In [8]:
greater_than_one = [x for x in f1data if x > 1]
greater_than_one

[]

In [9]:
num = 2964*3
lam = 60000/num
samples = np.random.poisson(lam, num)

In [11]:
len(samples)

8892

In [12]:
samples

array([ 5,  6,  3, ..., 11,  6,  7])