In [16]:
import pandas as pd
import re
import random

In [52]:
df = pd.read_csv('1000sents.csv', nrows=674)

In [45]:
df.columns

Index(['ID', 'HEADWORD', 'POS', 'ENGLISH', 'JAPANESE', 'SPANISH', 'INDONESIAN',
       'EXAMPLE (KO)', 'EXAMPLE (EN)', 'EXAMPLE (JA)', 'EXAMPLE (ES)',
       'EXAMPLE (ID)'],
      dtype='object')

In [54]:
df = df[['EXAMPLE (EN)']]

In [55]:
df

                                   EXAMPLE (EN)
0                    The store opens at 10 A.M.
1             Do you like it? What's the price?
2                   My house is near my school.
3                       I sometimes drink beer.
4                   Come tomorrow, if possible.
..                                          ...
669             Does your brother wear glasses?
670                I work from 9 a.m. to 6 p.m.
671                     Come by this afternoon.
672  How many flights of stairs should I go up?
673     I've decided to quit smoking this year.

[674 rows x 1 columns]

In [56]:
def mask_random_word(sentence):
    # Split the sentence into words using regex (considering spaces and punctuations)
#     words = re.findall(r'\b\w+\b', sentence)
    words = re.findall(r'\b(?:[A-Za-z]\w*)\b', sentence)

    if words:
        # Select a random word index
        random_index = random.randint(0, len(words) - 1)

        # Replace the selected word with [MASK]
        words[random_index] = "[MASK]"

        # Join the words back to form the masked sentence
        masked_sentence = " ".join(words)

        return masked_sentence

    return sentence

In [57]:
# Apply the mask_random_word function to the 'EXAMPLE (EN)' column
df['EXAMPLE (EN)'] = df['EXAMPLE (EN)'].apply(mask_random_word)

/tmp/ipykernel_186989/1216340428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EXAMPLE (EN)'] = df['EXAMPLE (EN)'].apply(mask_random_word)

In [58]:
df

                                      EXAMPLE (EN)
0                        [MASK] store opens at A M
1             Do you like it What [MASK] the price
2                      My [MASK] is near my school
3                         I sometimes drink [MASK]
4                    Come tomorrow [MASK] possible
..                                             ...
669               [MASK] your brother wear glasses
670                    I work from a m to p [MASK]
671                     Come [MASK] this afternoon
672  How many flights of stairs should I go [MASK]
673    [MASK] ve decided to quit smoking this year

[674 rows x 1 columns]

In [59]:
df.to_csv('masked_sentences.txt', index=False, header=False)